# Dépendances
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
*.tsbuildinfo

# Android / Capacitor
android/.gradle/
android/app/build/
android/capacitor-android/build/
android/local.properties
android/.idea/

# Environnement
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Clés de signature
*.jks
*.keystore

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
.next/
